<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: awesomemediaservice -->
        <add key="awesomemediaservice_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=awesomemediaservice;AccountKey=i8xByJhX2mDnlJWWsvrYf0ONNG4FtwsMYOUFdBDGguXZr0UrDwHNE36qPMj5zi9y0/vpQK8Mm0z8lcyq45hn9w==" />
    </appSettings>
</configuration>